{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _('Register'), 'Register' %}</li>
{% endblock %}

{% block primary %}
<article class="module" role="main">
    <div class="module-content">
        <h2>{{ _("Rights and roles of different users") }}</h2>
        <h3>{{ _("LDM visitors") }}</h3>
        <p>{{ _("Any visitor of the website is able to navigate the site, perform searches over the public datasets, preview and/or download the available public resources without restrictions.") }}</p>
        <h3>{{ _("Users, organizations and authorization") }}</h3>
        <p>{{ _("LDM users can register user accounts and log in. Login is not needed to search for and find data, but is needed for all publishing functions: datasets can be created, edited, etc by users with the appropriate permissions. In LDM all research data is managed within Organizations and Groups. An Organization is an institution or entity where the researcher/s is/are affiliated.") }}</p>
        <h3>{{ _("Registering to the platform") }}</h3>
        {%- set contact_link -%}
        <a href="mailto:service.ldm@tib.eu">service.ldm@tib.eu</a>
        {%- endset -%}
        <p>{% trans contact_link=contact_link %}In case an organization or group wants to be added to LDM, the responsible or representative must contact LDM's sysadmin asking for the creation of the organization or group in the system and creation of an administrator user to it. For this please email {{ contact_link }}.{% endtrans %}</p>
        <p>{{ _("After receiving the solitude, LDM's System Administrators will create the Organization and Groups and assign an \"Administrator\" user to them. A new registered user is not able to create datasets until a role is assigned.") }}"</p>
        <p>{{ _("<b>Organizations</b> are controlling which users can add, update and publish which datasets. Every dataset in LDM must belong to exactly one organization. If a user is an editor or admin of an organization, then he or she can create new datasets in that organization, and can edit and publish the datasets that belong to that organization.") }}</p>
        <p>{{ _("<b>Groups</b> are about curation – collecting datasets together into groups, across organisational boundaries. If a user is an editor or admin of a group, then he or she can add datasets (that already exist on the website) into their group and can remove datasets from their group, but they cannot add new datasets to the site, or edit the datasets that are in their group. Groups are intended for collecting related datasets together into themes like \"climate\" etc.") }}"</p>
        <p>{{ _("LDM allows administrator users to add members (users) to organizations/groups with three kind of roles:") }}</p>
        <p><b>{{ _("For organizations") }}:</b></p>
        <ul>
            <li>{{ _("Member – can see the organization's private datasets") }}</li>
            <li>{{ _("Editor – can edit and publish datasets") }}</li>
            <li>{{ _("Admin – can add, remove and change roles for organization members") }}</li>
        </ul>
        <p><b>{{ _("For groups") }}:</b></p>
        <ul>
            <li>{{ _("Member – can add/remove datasets from groups") }}</li>
            <li>{{ _("Admin – can edit group information, as well as manage group's members.") }}</li>
        </ul>
        <p>{{ _("To be able to add members to organizations/groups the new user must ask the administrator user her/his addition bringing her/his email and personal data.") }}</p>
        <p>{% trans contact_link=contact_link %}Please, contact us at {{ contact_link }} if you have comments or questions.{% endtrans %}</p>
    </div>
</article>
{% endblock %}

{% block secondary %}{% endblock %}
